<settings>
  <id>SettingsInfoImpl--68fa8172:15b4b666652:-1605</id>
  <workspace>
    <id>WorkspaceInfoImpl-513dc49c:1562676d393:-568a</id>
    <name>seamap</name>
    <isolated>false</isolated>
  </workspace>
  <contact>
    <id>contact</id>
    <addressCountry>Australia</addressCountry>
    <addressState>Tasmania</addressState>
    <contactEmail>IMAS.DataManager@utas.edu.au</contactEmail>
    <contactOrganization>Institute for Marine and Antarctic Studies (IMAS), University of Tasmania (UTAS)</contactOrganization>
    <contactPerson>Data Manager</contactPerson>
    <internationalAddress class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCity class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressCountry class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressDeliveryPoint class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressPostalCode class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressState class="org.geotools.util.GrowableInternationalString"/>
    <internationalAddressType class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactEmail class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactFacsimile class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactOrganization class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPerson class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactPosition class="org.geotools.util.GrowableInternationalString"/>
    <internationalContactVoice class="org.geotools.util.GrowableInternationalString"/>
    <internationalOnlineResource class="org.geotools.util.GrowableInternationalString"/>
    <internationalWelcome class="org.geotools.util.GrowableInternationalString"/>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>4</numDecimals>
  <proxyBaseUrl>https://geoserver.imas.utas.edu.au/geoserver</proxyBaseUrl>
  <verbose>true</verbose>
  <verboseExceptions>false</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>CogSettings.Key</string>
        <cogSettings>
          <useCachingStream>false</useCachingStream>
          <rangeReaderSettings>HTTP</rangeReaderSettings>
        </cogSettings>
      </entry>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>false</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>false</localWorkspaceIncludesPrefix>
  <showCreatedTimeColumnsInAdminList>false</showCreatedTimeColumnsInAdminList>
  <showModifiedTimeColumnsInAdminList>false</showModifiedTimeColumnsInAdminList>
  <useHeadersProxyURL>false</useHeadersProxyURL>
</settings>